#header{
	background: #9BC1BC;
	padding: 3em;
	padding-bottom:0;
	height:180px;
	overflow: hidden;

	#logo{
		position: relative;
		z-index: 1;
		background: #4C638A;
		padding: 0.4em 1.7em;
		line-height: 0.3em;
		display: inline-block;
		letter-spacing: 0.8em;

		a{
			text-decoration: none;
			color: #F2F4F7;
			font-size:2.3em;

			strong{
				font-family: 'Gidugu', cursive;
				font-weight: 400;
				font-size: 2.4em; 
				letter-spacing: 0.1em;
			}
		}

	}

	.sub{
		position: relative;
		z-index: 1;
		margin-left: -10%;
		top:60px;
		font-size: 1.3em;
		position: relative; 
		background: #8278AC;
		padding: 0.3em 1em;
		color: #E6EBE0;
	}

	.object1{
		margin-left: 40%;
		background: #699D96;
		width: 40%;
		height: 200px;
		transform: rotate(5deg);
		
		.head{
			background: #C89937;
			height: 40px;
			padding: 0 1.5em;

			& > *{
				display: inline-block;
			}

			.title{
				font-family: 'Gidugu', cursive;
				font-size: 2.5em;
				line-height: 1em;
				color: #7D5816;
			}

			.btn{
				float:right;
				margin: 1em 0.15em;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				background: black;

				&:nth-last-child(1){
					background: #7E5603;
				}
				&:nth-last-child(2){
					background: #AB2A19;
				}
			}
		}

		.body{
			padding: 1em;

			p{
				margin: 0.5em;

				.code{
					display: inline-block;
					background: #428279;
					height: 25px;
					width: 20%;
					margin-right: 0.8em;

					@for $i from 1 through 5 {
						&.len#{$i}{
							width: 20 * $i * 0.5 + %;
						}
					}

					@each $name, $color in (bl, #49619C), (br, #3A898D) {
						&.#{$name} {
							background: $color;
						}
					}
				}
			}
		}
	}

	.object2{
		position:absolute;
		top: 40px;
		width: 160px;

		img{
			width: 100%;
		}

		transform: rotate(-3deg);
	}
}